<div class="box-wrapper">
  <div class="box-content">
    <div class="box-header">
      <div class="box-header__title">
        <h1>
          Índice CERTO <span class="icon-circle-info"></span>
          <span class="line"></span>
        </h1>
      </div>
      <div class="box-header__options">
        <span class="icon-options"></span>
      </div>
    </div>
    <div class="box-highlight__container">
      <div
        class="box-highlight__item"
        *ngFor="let indiceHighlight of indicesHighlight">
        <div class="box-highlight__title">
          {{ indiceHighlight.label }}
        </div>
        <div
          class="box-highlight__body"
          [ngClass]="typeofValue(indiceHighlight.value)">
          {{ indiceHighlight.value }}
        </div>
      </div>
    </div>
    <div class="box-body__container">
      <div
        class="box-body__item"
        *ngFor="let indiceDefault of indicesDefault; let index = index">
        <div class="box-body__text">
          {{ indiceDefault.label }}
        </div>
        <div class="box-body__value">
          <span
            class="icon"
            [ngClass]="logoSantanderToogle(indiceDefault.value)"></span>
          {{ indiceDefault.value | dotToComma }}
          <div class="tooltip">
            <div class="tooltip__item">
              <div class="tooltip__label">Referência</div>
              <div class="tooltip__value">
                {{ indiceDefault.referencia | dotToComma }}
              </div>
            </div>
            <div class="tooltip__item">
              <div class="tooltip__label">DePara Chamas</div>
              <div class="tooltip__value">
                {{ indiceDefault.deParaChamas | dotToComma }}
              </div>
            </div>
            <div class="tooltip__item">
              <div class="tooltip__label">Realizado</div>
              <div class="tooltip__value">
                {{ indiceDefault.realizado | dotToComma }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    {{ indiceLastUpdated.label + ' : ' + indiceLastUpdated.value }}
  </div>
</div>
