.box-content {
  width: 500px;
  height: 640px;
}

h1 {
  font-size: 25px;
  width: 90%;

  .line {
    margin-top: 8px;
    width: 45px;
    height: 5px;
    display: block;
    float: left;
    position: absolute;
    background: red;
  }
}

.box-body {
  &__value {
    &:hover .tooltip {
      display: flex !important;
    }
  }
}
