.tooltip {
  position: fixed;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 300px;
  font-size: 12px;
  justify-content: space-between;
  margin-left: 60px;
  padding: 5px;
  border: solid 1px #666;
  border-radius: 5px;
  border-left: 1px solid transparent;
  background-color: white;
  margin-top: -35px;

  &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    left: -4px;
    top: calc(50% - 5px);
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0.5px;
    width: 1px;
    height: 15px;
    box-shadow: 0 27px #666;
    background: #666;
  }
  &__item {
    &__label {
    }
    &__value {
    }
  }
}
