<div class="box">
  <div class="box-header">
    <div class="box-header__title">
      <h1>
        Índice CERTO <span class="icon-circle-info"></span>
        <span class="line"></span>
      </h1>
    </div>
    <div class="box-header__options">
      <span class="icon-options"></span>
    </div>
  </div>
  <div class="box-highlight__container">
    <div class="box-highlight__item">
      <div class="box-highlight__title">Chamas</div>
      <div class="box-highlight__body">1.253,02</div>
    </div>
    <div class="box-highlight__item">
      <div class="box-highlight__title">Quadrante Atual</div>
      <div class="box-highlight__body">A</div>
    </div>
  </div>
  <div class="box-body__container">
    <div class="box-body__item">
      <div class="box-body__text">Débito automático</div>
      <div class="box-body__value">
        <span class="logo logo-santander"></span>
        20,00
      </div>
    </div>
    <div class="box-body__item">
      <div class="box-body__text">Débito automático</div>
      <div class="box-body__value">
        <span class="logo logo-santander-negativo"></span>
        20,00
      </div>
    </div>
    <div class="box-body__item">
      <div class="box-body__text">Débito automático</div>
      <div class="box-body__value">20,00</div>
    </div>
    <div class="box-body__item">
      <div class="box-body__text">Débito automático</div>
      <div class="box-body__value">20,00</div>
    </div>
    <div class="box-body__item">
      <div class="box-body__text">Débito automático</div>
      <div class="box-body__value">20,00</div>
    </div>
    <div class="box-body__item">
      <div class="box-body__text">Débito automático</div>
      <div class="box-body__value">20,00</div>
    </div>
    <div class="box-body__item">
      <div class="box-body__text">Débito automático</div>
      <div class="box-body__value">20,00</div>
    </div>
  </div>
</div>
