<div class="box">
  <div class="box_header">
    <div class="box_header_title">
      <h1>
        Índice CERTO <span class="icon-circle-info"></span>
        <span class="line"></span>
      </h1>
    </div>
    <div class="box_header__options">
      <span class="icon-options">A</span>
    </div>
  </div>
  <div class="box_highlight__container">
    <div class="box_highlight__item">
      <div class="box_highlight__title">Chama</div>
      <div class="box_highlight__body">1.253,02</div>
    </div>
  </div>
  <div class="box_body_container">
    <div class="box_body_item">
      <div class="box_body_text"></div>
      <div class="box_body_value"></div>
    </div>
  </div>
</div>
