.box {
  border: solid 1px #999;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 500px;
}
.box_header {
  width: 100%;
  .box_header_title {
    width: 90%;
    float: left;
  }
  .box_header__options {
    width: 10%;
    float: right;
  }
}
h1 {
  font-size: 25px;
  width: 90%;
  .icon-circle-info {
    background-image: url('../../../assets/icon-circle-info.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .line {
    margin-top: 8px;
    width: 45px;
    height: 5px;
    display: block;
    float: left;
    position: absolute;
    background: red;
  }
}
.box_highlight__container {
  width: 100%;
}
