.box-content {
  width: 100%;
  height: auto;
}
.box-body {
  &__container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__item {
    display: initial;
  }
}
.loading {
  .icon-santander-loading {
    background-image: url('../../assets/santander-loading.gif');
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
  }
}
