/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

@import 'assets/style/settings/_colors';
@import 'assets/style/components/title';
@import 'assets/style/components/_box';
@import 'assets/style/components/_tooltip';
@import 'assets/style/components/_icon';

.error {
  padding: 15px;
  color: $color-red;
  border: solid 1px $color-red;
  border-radius: 5px;
  margin-bottom: 15px;
}
